<%- include('../partials/header')  %>
<body style="padding: 20px;">
  <%- include('../partials/navbar')  %>
  <div style="text-align: center;">
    <% for(let i = 1; i <= 6; i++) { %>
      <% if (denahGedung['url' + i]) { %>
        <div class= "container" style="position:relative; width:1080px; height:720px;">
          <img src="<%= denahGedung['url' + i] %>" alt="lantai-<%= i %>" width="1080" height="720">
          <% cctvroom.forEach(function(room) { %>
            <% if(Number(room.lantai) === i) { %>
              <img id="cctvroom-marker-" src="/img/street_icon_marker_cctv1.png" alt="marker" style="position:absolute; top: <%= room.y %>%; left: <%= room.x %>%; transform: translate(-50%, -50%);" data-content="<%= room.content %>" data-nama="<%= room.nama %>" data-url="<%= room.url %>">
            <% } %>
          <% }) %>
        </div>
      <% } %>
    <% } %>
    <div id="infowindow" style="display: none; position: absolute; background-color: white; padding: 15px; border: 0.2px solid black; border-radius: 10px; width: 300px; text-align: left;">
      <button id="infowindow-close" class="btn-close" style="position: absolute; top: 5px; right: 5px; width: 5px; height: 5px;"></button>
      <h1 id="infowindow-nama"></h1>
      <p id="infowindow-content"></p>
      <p>pilih jenis cctv</p>
      <button class="btn btn-primary" id="infowindow-button">CCTV NORMAL</button>
    </div>
  </div>
</body>